:root {
  --text: #090201;
  --background: #ffffff;
  --primary: #76a55f;
  --secondary: #acd09a;
  --accent: #163904;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  width: 100dvw;
  height: 100dvh;
}
